// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Web Page Title */
.title_container {
  background-image: image-url("us_banner_top_rsz.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .web_title {
    text-align: center;
    color: rgb(255,215,0);
    text-shadow: 
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 500px) {
  .title_container {
    background-size: 100%;
    .web_title {
      font-size: 2.5em;
    }
  }
}
@media (min-width: 946px) {
  .title_container {
    .web_title {
      font-size: 3em;
    }
  }
}

/* Map Image */
.map_image {
    width: 100%;
    height: auto;
}
/* Hide maps that are being preloaded  */
.map_image_hide {
	display: none;
}
@media (min-width: 600px) {
  .map_section {
    width: 590px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Timeline Section */
.timeline_start, .timeline_section {
  white-space: nowrap;
 	overflow-x: hidden;
  overflow-y: hidden;
  background-color: #e9f0f5;
}

/* Initial timeline section */
.timeline_start {
	.tl_container, .start_flex, .start_container, .timeline_block, .tb_first {
		height: 194px;
	}
	.start_container {
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding: 20px 0px;
	}
}

.timeline_section {
	display: none; //Initial setting
	/* Allows timeline section to be horizontal */
	.timeline_flex {
		display: flex;
		flex-direction: row;
	}
	.tc_container {
		padding: 2% 0;
	}
}

/* Timeline Block */
 .timeline_block {
  vertical-align: top;
  //background-color: #FFF;
  text-align: center;
  margin: 10px 0px 10px 30px;
	min-width: 200px;
	 &.tb_state, &.tb_last {
		 display: none;
	 }
}

/* State circle with numbered Star */
.circle{
	content:"";
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: blue;
	border: 2.5px solid red;
	margin-left: auto;
  margin-right: auto;
	.fa-star{
		color: white;
		margin-top: 5px;
		font-size: 2.5em;
	}
	.num_state {
		display: block;
		color: red;
		font-size: 18px;
		margin-top: -30px;
    font-weight: bold;
	}
}

.timeline_date {
	margin-top: 10px;
	font-weight: bold;
}

.timeline_content {
	background-color: #d7e4ed;

	&.tc_end {
		line-height: 100px;
		padding: 10% 0;
	}
	&.tc_state {
		width: 90%;
    margin-left: auto;
    margin-right: auto;
	}
	&.tc_last {
		margin-right: 30px;
	}
}

.state_image {
	width: 50%;
	margin-top: 10px;
}
.state_name {
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
	padding: 5px;
}

/* More info button in state content */
.state_btn {
	margin-bottom: 10px;
	background-color: red;
	color: white;
	padding: 10px;
	border-radius: 10px;
}

/* User Interactive area with buttons and drop down list */
#timeline_interactive {
	text-align: center;
	margin-top: 10px;
	/* Initial startup area */
	.start_area {
		.timeline_btn {
			background-color: blue;
			color: white;
			padding: 10px;
			border-radius: 10px;
			width: 200px;
		}
	}
	/*  */
	.interactive_area {
		display: none; //Initial setting
	}
	.btn_area {
		vertical-align: top;
		.timeline_btn {
			background-color: blue;
			color: white;
			padding: 10px;
			border-radius: 10px;
		}
		.timeline_btn:disabled {
			background-color: grey;
		}
		#prevUSstate {
			margin-right: 10px;
		}
		.autoplay_area {
			margin-top: 10px;
		}
	}
	
	.ddl_area {
		margin-top: 10px;
		padding-bottom: 10px;
		#quickSelector {
			width: 90%;
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
			border-width: 2px;
			border-style: groove;
			border-color: black;
			text-align: left;
			.ddl_title_area {
				margin: 5px;
    		text-transform: uppercase;
			}
			.ddl_state_area, .ddl_number_area {
				margin: 10px;
				display: inline-block;
				p {
					margin-bottom: 5px;
				}
			}
		}
	}
	@media (min-width: 570px) {
		.btn_area, .ddl_area {
			display: inline-block;
		}
	}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	#modal_state_name {
		text-align: center;
		font-weight: bold;
		font-size: 2em;
	}
	.modal_img_container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		text-align: center;
		
		#modal_state_img {
			max-width: 100%;
		}
	}
}
@media (min-width: 600px) {
	.modal_content {
		margin: 10% auto;
		max-width: 400px;
	}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
		margin-top:-25px;
    margin-right:-25px;
}
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
